# Table of Content:
* [Li Yuan's second week work](#2)
* [Li Yuan's third week work](#3)
    * [Pandas convert](#31)
    * [MdTraj convert](#32)
* [Li Yuan's forth week work](#4)
    * [get_all_atom() function](#41)
    * [get_atom_and_hetatm() function](#42)
    * [PDB Class](#43)
    * [An example of this class "4lza"](#44)
* [Li Yuan's fifth week work](#5)
    * [get_general_table()](#51)
    * [get_atom_hetatm_table()](#52)
    * [Test 100 pdb files and merge them into one](#53)
    * [Remark: Bug Fix to get_missing_residue() function](#54)

<a id='2'></a>
# Li Yuan's second week work 

This is a set of basic examples of the usage and outputs of the various individual functions included in. There are generally three types of functions:

+ Functions that perform searches and return lists of PDB IDs
+ Functions that get information about specific PDB IDs
+ Other general-purpose lookup functions

The list of supported search types, as well as the different types of information that can be returned for a given PDB ID, is large (and growing) and is enumerated in the docstrings of pypdb.py. The PDB allows a very wide range of different types of queries, and so any option that is not currently available can likely be implemented based on the structure of the query types that have already been implemented. Please submit feedback and pull requests on GitHub.

### I didn't find any funcion in that package pypdb we can use to extract seqres and atom, so I only use get_pdb_file() function from that package to get the file and write my own function to do that.

### Preamble

We import this package pypdb and prepare some other things.

In [1]:
%pylab inline
from IPython.display import HTML

## Import from local directory
import sys
sys.path.insert(0, '../pypdb')
from pypdb import *

## Import from installed package
# from pypdb import *

import pprint

%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

## This function I wrote is to extract only the seqres as a list

In [2]:
def get_seqres(pdb_id):
    """ Return the seqres sequence of a pdb file
    
    >>> get_seqres('4Z0L')
    >>> get_seqres('4lza')
    """
    pdb_file = get_pdb_file(pdb_id, filetype='pdb', compression=False) 
    # using a get_pdb_file() function from pypdb package to return a file with format 'pdb'.
    file1 = pdb_file.splitlines()
    # split this long string into list by \n.
    list_se = []
    for line in file1:
        if line[:6] == "SEQRES":
            list_se.append(line)
    return(list_se)

In [3]:
get_seqres('4lza')[:10]

['SEQRES   1 A  195  MSE HIS HIS HIS HIS HIS HIS SER SER GLY VAL ASP LEU          ',
 'SEQRES   2 A  195  GLY THR GLU ASN LEU TYR PHE GLN SER MSE THR LEU GLU          ',
 'SEQRES   3 A  195  GLU ILE LYS MSE MSE ILE ARG GLU ILE PRO ASP PHE PRO          ',
 'SEQRES   4 A  195  LYS LYS GLY ILE LYS PHE LYS ASP ILE THR PRO VAL LEU          ',
 'SEQRES   5 A  195  LYS ASP ALA LYS ALA PHE ASN TYR SER ILE GLU MSE LEU          ',
 'SEQRES   6 A  195  ALA LYS ALA LEU GLU GLY ARG LYS PHE ASP LEU ILE ALA          ',
 'SEQRES   7 A  195  ALA PRO GLU ALA ARG GLY PHE LEU PHE GLY ALA PRO LEU          ',
 'SEQRES   8 A  195  ALA TYR ARG LEU GLY VAL GLY PHE VAL PRO VAL ARG LYS          ',
 'SEQRES   9 A  195  PRO GLY LYS LEU PRO ALA GLU THR LEU SER TYR GLU TYR          ',
 'SEQRES  10 A  195  GLU LEU GLU TYR GLY THR ASP SER LEU GLU ILE HIS LYS          ']

In [4]:
get_seqres('4Z0L')[:20]

['SEQRES   1 A  587  ALA ASN PRO CYS CYS SER ASN PRO CYS GLN ASN ARG GLY          ',
 'SEQRES   2 A  587  GLU CYS MET SER THR GLY PHE ASP GLN TYR LYS CYS ASP          ',
 'SEQRES   3 A  587  CYS THR ARG THR GLY PHE TYR GLY GLU ASN CYS THR THR          ',
 'SEQRES   4 A  587  PRO GLU PHE LEU THR ARG ILE LYS LEU LEU LEU LYS PRO          ',
 'SEQRES   5 A  587  THR PRO ASN THR VAL HIS TYR ILE LEU THR HIS PHE LYS          ',
 'SEQRES   6 A  587  GLY VAL TRP ASN ILE VAL ASN ASN ILE PRO PHE LEU ARG          ',
 'SEQRES   7 A  587  SER LEU ILE MET LYS TYR VAL LEU THR SER ARG SER TYR          ',
 'SEQRES   8 A  587  LEU ILE ASP SER PRO PRO THR TYR ASN VAL HIS TYR GLY          ',
 'SEQRES   9 A  587  TYR LYS SER TRP GLU ALA PHE SER ASN LEU SER TYR TYR          ',
 'SEQRES  10 A  587  THR ARG ALA LEU PRO PRO VAL ALA ASP ASP CYS PRO THR          ',
 'SEQRES  11 A  587  PRO MET GLY VAL LYS GLY ASN LYS GLU LEU PRO ASP SER          ',
 'SEQRES  12 A  587  LYS GLU VAL LEU GLU LYS VAL LEU LEU ARG ARG GLU PHE          ',
 'SEQRES  13 A  587  ILE PRO ASP PRO GLN GLY SER ASN MET MET PHE ALA PHE          ',
 'SEQRES  14 A  587  PHE ALA GLN HIS PHE THR HIS GLN PHE PHE LYS THR ASP          ',
 'SEQRES  15 A  587  HIS LYS ARG GLY PRO GLY PHE THR ARG GLY LEU GLY HIS          ',
 'SEQRES  16 A  587  GLY VAL ASP LEU ASN HIS ILE TYR GLY GLU THR LEU ASP          ',
 'SEQRES  17 A  587  ARG GLN HIS LYS LEU ARG LEU PHE LYS ASP GLY LYS LEU          ',
 'SEQRES  18 A  587  LYS TYR GLN VAL ILE GLY GLY GLU VAL TYR PRO PRO THR          ',
 'SEQRES  19 A  587  VAL LYS ASP THR GLN VAL GLU MET ILE TYR PRO PRO HIS          ',
 'SEQRES  20 A  587  ILE PRO GLU ASN LEU GLN PHE ALA VAL GLY GLN GLU VAL          ']

### This function I wrote is to extract only the atom sequence as a list

In [5]:
def get_atom(pdb_id):
    """ Return the atom sequence of a pdb file
    
    >>> get_atom('4Z0L')
    >>> get_atom('4lza')
    """
    pdb_file = get_pdb_file(pdb_id, filetype='pdb', compression=False)
    # using a get_pdb_file() function from pypdb package to return a file with format 'pdb'.
    file1 = pdb_file.splitlines()
    list_atom = []
    for line in file1:
        if line[:4] == "ATOM":
            list_atom.append(line)
    return(list_atom)

In [6]:
get_atom('4Z0L')[:10]

['ATOM      1  N   ALA A  33     113.744  17.524  85.910  1.00 75.99           N  ',
 'ATOM      2  CA  ALA A  33     114.749  17.116  86.884  1.00 76.70           C  ',
 'ATOM      3  C   ALA A  33     115.677  18.275  87.231  1.00 73.52           C  ',
 'ATOM      4  O   ALA A  33     116.176  18.367  88.354  1.00 75.48           O  ',
 'ATOM      5  CB  ALA A  33     115.548  15.934  86.358  1.00 78.19           C  ',
 'ATOM      6  N   ASN A  34     115.906  19.154  86.261  1.00 67.98           N  ',
 'ATOM      7  CA  ASN A  34     116.747  20.327  86.469  1.00 63.43           C  ',
 'ATOM      8  C   ASN A  34     116.113  21.264  87.492  1.00 60.58           C  ',
 'ATOM      9  O   ASN A  34     115.006  21.756  87.287  1.00 61.30           O  ',
 'ATOM     10  CB  ASN A  34     116.983  21.058  85.144  1.00 63.09           C  ']

In [7]:
get_atom('4lza')[:10]

['ATOM      1  N   THR A   0     -27.785   5.217 -21.426  1.00 50.53           N  ',
 'ATOM      2  CA  THR A   0     -27.459   5.049 -19.974  1.00 49.41           C  ',
 'ATOM      3  C   THR A   0     -25.949   5.130 -19.667  1.00 46.13           C  ',
 'ATOM      4  O   THR A   0     -25.572   5.789 -18.699  1.00 44.22           O  ',
 'ATOM      5  CB  THR A   0     -28.153   3.815 -19.346  1.00 51.85           C  ',
 'ATOM      6  OG1 THR A   0     -27.919   3.787 -17.932  1.00 52.21           O  ',
 'ATOM      7  CG2 THR A   0     -27.688   2.516 -19.989  1.00 53.52           C  ',
 'ATOM      8  N   LEU A   1     -25.087   4.511 -20.480  1.00 43.20           N  ',
 'ATOM      9  CA  LEU A   1     -23.681   4.942 -20.481  1.00 42.39           C  ',
 'ATOM     10  C   LEU A   1     -23.615   6.356 -21.059  1.00 43.21           C  ']

<a id='3'></a>
# Li Yuan's third week work

<a id='31'></a>
## We first used pandas to convert a list into dataframe

### First we used split() to split each string in the list returned by get_atom() function

In [8]:
import pandas as pd

In [9]:
def get_atom(pdb_id):
    """ Return the atom sequence of a pdb file as a pandas dataframe
    
    >>> get_atom('4Z0L')
    >>> get_atom('4lza')
    """
    pdb_file = get_pdb_file(pdb_id, filetype='pdb', compression=False)
    # using a get_pdb_file() function from pypdb package to return a file with format 'pdb'.
    file1 = pdb_file.splitlines()
    list_atom = []
    for line in file1:
        if line[:4] == "ATOM":
            list_atom.append(line)
    list_s_atom = [s.split() for s in list_atom]
    # split each string in a list by white spaces
    df = pd.DataFrame(list_s_atom)
    # use DataFrame function to convert a list to dataframe
    df["id"] = pdb_id
    # add one id column to exsiting dataframe
    return(df)

In [10]:
get_atom("4lza").head(11)

       0   1    2    3  4  5        6      7        8     9     10 11    id
0   ATOM   1    N  THR  A  0  -27.785  5.217  -21.426  1.00  50.53  N  4lza
1   ATOM   2   CA  THR  A  0  -27.459  5.049  -19.974  1.00  49.41  C  4lza
2   ATOM   3    C  THR  A  0  -25.949  5.130  -19.667  1.00  46.13  C  4lza
3   ATOM   4    O  THR  A  0  -25.572  5.789  -18.699  1.00  44.22  O  4lza
4   ATOM   5   CB  THR  A  0  -28.153  3.815  -19.346  1.00  51.85  C  4lza
5   ATOM   6  OG1  THR  A  0  -27.919  3.787  -17.932  1.00  52.21  O  4lza
6   ATOM   7  CG2  THR  A  0  -27.688  2.516  -19.989  1.00  53.52  C  4lza
7   ATOM   8    N  LEU  A  1  -25.087  4.511  -20.480  1.00  43.20  N  4lza
8   ATOM   9   CA  LEU  A  1  -23.681  4.942  -20.481  1.00  42.39  C  4lza
9   ATOM  10    C  LEU  A  1  -23.615  6.356  -21.059  1.00  43.21  C  4lza
10  ATOM  11    O  LEU  A  1  -22.738  7.137  -20.688  1.00  41.35  O  4lza

## Second we want to put a couple of pdb entries into one dataframe.

In [11]:
def get_some_atom(L):
    """ Take a list with returning some atom parts of pdb files into one dataframe 
    
    >>> get_some_atom(["4lza", "4Z0L"])
    """
    frames = [get_atom(l) for l in L]
    return(pd.concat(frames))

## We test this function with a list ["4lza", "4Z0L]

In [12]:
get_some_atom(["4lza", "4Z0L"])

,0,1,2,3,4,5,6,7,8,9,10,11,id
0,ATOM,1,N,THR,A,0,-27.785,5.217,-21.426,1.00,50.53,N,4lza
1,ATOM,2,CA,THR,A,0,-27.459,5.049,-19.974,1.00,49.41,C,4lza
2,ATOM,3,C,THR,A,0,-25.949,5.130,-19.667,1.00,46.13,C,4lza
3,ATOM,4,O,THR,A,0,-25.572,5.789,-18.699,1.00,44.22,O,4lza
4,ATOM,5,CB,THR,A,0,-28.153,3.815,-19.346,1.00,51.85,C,4lza
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17887,ATOM,17891,C,VAL,D,582,109.996,36.082,25.066,1.00,44.77,C,4Z0L
17888,ATOM,17892,O,VAL,D,582,110.051,34.970,25.592,1.00,45.92,O,4Z0L
17889,ATOM,17893,CB,VAL,D,582,109.039,36.239,22.764,1.00,45.04,C,4Z0L
17890,ATOM,17894,CG1,VAL,D,582,109.314,36.646,21.323,1.00,40.74,C,4Z0L
17891,ATOM,17895,CG2,VAL,D,582,108.404,34.858,22.819,1.00,47.16,C,4Z0L

## Next we want to put all ids into one dataframe

### We used get_all() to list all pdb entries.

In [13]:
len(get_all())

170172

### We found there was 169681 entries in the current PDB  DataBase.

### We used concat() function to merge all the dataframe of each pdb entry into one huge dataframe.

In [14]:
frames = [get_atom(id) for id in get_all()[:2]]
pd.concat(frames)

        0    1    2   3  4   5       6       7       8     9     10 11    id
0    ATOM    1  O5'   C  A   1  -4.549   5.095   4.262  1.00  28.71  O  100D
1    ATOM    2  C5'   C  A   1  -4.176   6.323   3.646  1.00  27.35  C  100D
2    ATOM    3  C4'   C  A   1  -3.853   7.410   4.672  1.00  24.41  C  100D
3    ATOM    4  O4'   C  A   1  -4.992   7.650   5.512  1.00  22.53  O  100D
4    ATOM    5  C3'   C  A   1  -2.713   7.010   5.605  1.00  23.56  C  100D
..    ...  ...  ...  .. ..  ..     ...     ...     ...   ...    ... ..   ...
443  ATOM  485   N1  DG  B  24  17.380  25.781  24.551  1.00   9.55  N  101D
444  ATOM  486   C2  DG  B  24  18.598  25.147  24.436  1.00   9.22  C  101D
445  ATOM  487   N2  DG  B  24  19.520  25.991  23.890  1.00   0.67  N  101D
446  ATOM  488   N3  DG  B  24  18.851  23.879  24.780  1.00   1.61  N  101D
447  ATOM  489   C4  DG  B  24  17.734  23.301  25.301  1.00   7.73  C  101D

[856 rows x 13 columns]

<a id='32'></a>
## We used mdtraj package to load pdb file into memory from URL

>MDTraj is a python library that allows users to manipulate molecular dynamics (MD) trajectories. Features include:
1. Wide MD format support, including pdb, xtc, trr, dcd, binpos, netcdf, mdcrd, prmtop, and more.
2. Extremely fast RMSD calculations (4x the speed of the original Theobald QCP).
3. Extensive analysis functions including those that compute bonds, angles, dihedrals, hydrogen bonds, secondary structure, and NMR observables.
4. Lightweight, Pythonic API.

In [15]:
import mdtraj as md # import this package

In [16]:
pdb = md.load_pdb("https://files.rcsb.org/view/4LZA.pdb")  # load data

In [17]:
print(pdb) # print to see how many frames and atoms, residues this file has

<mdtraj.Trajectory with 1 frames, 2833 atoms, 512 residues, and unitcells>

## We convert this pdb file into topology

In [18]:
topology = pdb.topology

In [19]:
table, bonds = topology.to_dataframe()

In [20]:
print(table.head(7))

   serial name element  resSeq resName  chainID segmentID
0       1    N       N       0     THR        0
1       2   CA       C       0     THR        0
2       3    C       C       0     THR        0
3       4    O       O       0     THR        0
4       5   CB       C       0     THR        0
5       6  OG1       O       0     THR        0
6       7  CG2       C       0     THR        0

In [21]:
topology.atom(10)

LEU1-O

In [22]:
topology.atoms

In [23]:
[i for i in topology.atoms][:10]

[THR0-N,
 THR0-CA,
 THR0-C,
 THR0-O,
 THR0-CB,
 THR0-OG1,
 THR0-CG2,
 LEU1-N,
 LEU1-CA,
 LEU1-C]

In [24]:
print(table.head(10))

   serial name element  resSeq resName  chainID segmentID
0       1    N       N       0     THR        0
1       2   CA       C       0     THR        0
2       3    C       C       0     THR        0
3       4    O       O       0     THR        0
4       5   CB       C       0     THR        0
5       6  OG1       O       0     THR        0
6       7  CG2       C       0     THR        0
7       8    N       N       1     LEU        0
8       9   CA       C       1     LEU        0
9      10    C       C       1     LEU        0

In [25]:
atom = pdb.atom_slice(range(2833))

In [26]:
print(atom)

<mdtraj.Trajectory with 1 frames, 2833 atoms, 512 residues, and unitcells>

In [27]:
atom.xyz

array([[[-2.7785,  0.5217, -2.1426],
        [-2.7459,  0.5049, -1.9974],
        [-2.5949,  0.513 , -1.9667],
        ...,
        [-0.6332, -1.3026, -0.3481],
        [-0.8265, -1.4563, -0.0902],
        [-2.8824,  1.244 , -0.1084]]], dtype=float32)

In [28]:
[i for i in topology.bonds][:10]

[Bond(THR0-CA, THR0-C),
 Bond(THR0-C, THR0-O),
 Bond(THR0-CA, THR0-CB),
 Bond(THR0-N, THR0-CA),
 Bond(THR0-CB, THR0-CG2),
 Bond(THR0-CB, THR0-OG1),
 Bond(THR0-C, LEU1-N),
 Bond(LEU1-CA, LEU1-C),
 Bond(LEU1-C, LEU1-O),
 Bond(LEU1-CA, LEU1-CB)]

<a id='4'></a>
# Li Yuan's forth week work

## This function returns all the atom part, including ATOM, ANISOU, TER
<a id='41'></a>

In [29]:
def get_all_atom(pdb_id):
    """ Return the all atom sequence of a pdb file as a pandas dataframe
    
    >>> get_all_atom('4Z0L')
    >>> get_all_atom('4lza')
    """
    pdb_file = get_pdb_file(pdb_id, filetype='pdb', compression=False)
    # using a get_pdb_file() function from pypdb package to return a file with format 'pdb'.
    file1 = pdb_file.splitlines()
    list_atom = []
    
    # Find the index number of the line with ATOM
    for line in file1:
        if line[:4] == "ATOM":
            num = file1.index(line)
            break
    
    # we add/append all the lines which are within atom part until we meet CONECT
    while file1[num][:6] != "CONECT":
        list_atom.append(file1[num])
        num = num + 1
        
    list_s_atom = [s.split() for s in list_atom]
    # split each string in a list by white spaces
    
    df = pd.DataFrame(list_s_atom)
    # use DataFrame function to convert a list to dataframe
    df["id"] = pdb_id
    # add one id column to exsiting dataframe
    return(df)

In [30]:
get_all_atom("4lza")

,0,1,2,3,4,5,6,7,8,9,10,11,12,id
0,ATOM,1,N,THR,A,0,-27.785,5.217,-21.426,1.00,50.53,N,None,4lza
1,ANISOU,1,N,THR,A,0,6212,6054,6933,75,-219,-115,N,4lza
2,ATOM,2,CA,THR,A,0,-27.459,5.049,-19.974,1.00,49.41,C,None,4lza
3,ANISOU,2,CA,THR,A,0,6089,5870,6816,59,-181,-113,C,4lza
4,ATOM,3,C,THR,A,0,-25.949,5.130,-19.667,1.00,46.13,C,None,4lza
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5529,HETATM,2850,O,HOH,B,286,-0.332,17.645,1.000,1.00,42.23,O,None,4lza
5530,HETATM,2851,O,HOH,B,287,-5.698,23.679,-0.316,1.00,47.35,O,None,4lza
5531,HETATM,2852,O,HOH,B,288,-6.332,-13.026,-3.481,1.00,51.79,O,None,4lza
5532,HETATM,2853,O,HOH,B,289,-8.265,-14.563,-0.902,1.00,50.84,O,None,4lza
5533,HETATM,2854,O,HOH,B,290,-28.824,12.440,-1.084,1.00,46.14,O,None,4lza

## This function I wrote only returns atom and hetatm
<a id='42'></a>

In [31]:
def get_atom_and_hetatm(pdb_id):
    """ Return the atom sequence of a pdb file as a pandas dataframe
    
    >>> get_atom_hetatm('4Z0L')
    >>> get_atom_hetatm('4lza')
    """
    pdb_file = get_pdb_file(pdb_id, filetype='pdb', compression=False)
    # using a get_pdb_file() function from pypdb package to return a file with format 'pdb'
    file1 = pdb_file.splitlines()
    list_atom = []
    
    # we only select line with atom and hetatm
    for line in file1:
        if line[:4] == "ATOM" or line[:6] == "HETATM":
            list_atom.append(line)
        
    list_s_atom = [s.split() for s in list_atom]
    # split each string in a list by white spaces
    df = pd.DataFrame(list_s_atom)
    # use DataFrame function to convert a list to dataframe
    df["id"] = pdb_id
    # add one id column to exsiting dataframe
    return(df)

In [32]:
get_atom_and_hetatm("4lza")

,0,1,2,3,4,5,6,7,8,9,10,11,id
0,ATOM,1,N,THR,A,0,-27.785,5.217,-21.426,1.00,50.53,N,4lza
1,ATOM,2,CA,THR,A,0,-27.459,5.049,-19.974,1.00,49.41,C,4lza
2,ATOM,3,C,THR,A,0,-25.949,5.130,-19.667,1.00,46.13,C,4lza
3,ATOM,4,O,THR,A,0,-25.572,5.789,-18.699,1.00,44.22,O,4lza
4,ATOM,5,CB,THR,A,0,-28.153,3.815,-19.346,1.00,51.85,C,4lza
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2847,HETATM,2850,O,HOH,B,286,-0.332,17.645,1.000,1.00,42.23,O,4lza
2848,HETATM,2851,O,HOH,B,287,-5.698,23.679,-0.316,1.00,47.35,O,4lza
2849,HETATM,2852,O,HOH,B,288,-6.332,-13.026,-3.481,1.00,51.79,O,4lza
2850,HETATM,2853,O,HOH,B,289,-8.265,-14.563,-0.902,1.00,50.84,O,4lza
2851,HETATM,2854,O,HOH,B,290,-28.824,12.440,-1.084,1.00,46.14,O,4lza

<a id='43'></a>
## I create a class for each pdb_id which can return attribute/ desired fields and with methods we want

In [33]:
class pdb:
    """A class of each pdb_id file, including desired attributes and methods"""
    
    def __init__(self, pdb_id):
        """Create a object given a specific id"""
        
        self.id = pdb_id
        self.file = get_pdb_file(pdb_id, filetype='pdb', compression=False)
        self.list = self.file.splitlines()
        
    def get_enzyme_type(self):
        """get the enzyme type of this pdb"""
        
        for line in self.list:
            if line[:6] == "HEADER":
                return(line.split()[1])
            
    def get_name(self):
        """get molecue name of this pdb"""
        
        for line in self.list:
            if "MOLECULE:" in line:
                res = line[line.find("MOLECULE:")+10:]
                return(res[:res.find(";")])
            
    def get_organism_name(self):
        """get organism name of this pdb"""
        
        for line in self.list:
            if "ORGANISM_SCIENTIFIC:" in line:
                res = line[line.find("ORGANISM_SCIENTIFIC:")+21:]
                return(res[:res.find(";")])
            
    def get_organism_taxid(self):
        """get organism taxid of this pdb"""
        
        for line in self.list:
            if "ORGANISM_TAXID:" in line:
                res = line[line.find("ORGANISM_TAXID:")+16:]
                return(res[:res.find(";")])
            
    def get_chain_id(self):
        """get chain id of this pdb"""
        
        for line in self.list:
            if "CHAIN:" in line:
                res = line[line.find("CHAIN:")+7:]
                return(res[:res.find(";")])
            
    
    def get_ec_number(self):
        """get EC number of this pdb"""
        
        for line in self.list:
            if "EC:" in line:
                res = line[line.find("EC:")+4:]
                return(res[:res.find(";")])
            
    def get_strain(self):
        """get strain of this pdb"""
        
        for line in self.list:
            if "STRAIN:" in line:
                res = line[line.find("STRAIN:")+8:]
                return(res[:res.find(";")])
    
    def get_gene(self):
        """get gene of this pdb"""
        
        for line in self.list:
            if "GENE:" in line:
                res = line[line.find("GENE:")+6:]
                return(res[:res.find(";")])
            
    def get_resolution(self):
        """get resolution of this pdb"""
        
        for line in self.list:
            if "RESOLUTION." in line and "ANGSTROMS." in line:
                num = line.find("RESOLUTION.") + 11
                while line[num] == " ":
                    num = num + 1
                    if line[num] != " ":
                        res = line[num:]
                        break
                return(res[:res.find("ANGSTROMS.")+9])
            
    def get_seqres(self):
        """get the seqres sequence of a pdb file"""
    
        list_se = []
        for line in self.list:
            if line[:6] == "SEQRES":
                list_se.append(line)
        list_se = [s.split() for s in list_se]
        df = pd.DataFrame(list_se)
        return(df)
    
    def get_atom_and_hetatm(self):
        """get the atom and hetatm sequence of a pdb file as a pandas dataframe"""
        
        list_atom = []
        # we only select line with atom and hetatm
        for line in self.list:
            if line[:4] == "ATOM" or line[:6] == "HETATM":
                list_atom.append(line)
        
        
        list_s_atom = []
        # according to the string position to make a list of each row
        for line in list_atom:
            l = []
            if line[:6].isspace():
                l.append(None)
            else:
                l.append(line[:6].split()[0])
            if line[6:11].isspace():
                l.append(None)
            else:
                l.append(line[6:11].split()[0])
            
            if line[12:16].isspace():
                l.append(None)
            else:
                l.append(line[12:16].split()[0])
                
            if line[16].isspace():
                l.append(None)
            else:
                l.append(line[16].split()[0])
            
            if line[17:20].isspace():
                l.append(None)
            else:
                l.append(line[17:20].split()[0])
                
            if line[21].isspace():
                l.append(None)
            else:
                l.append(line[21].split()[0])
                
            if line[22:26].isspace():
                l.append(None)
            else:
                l.append(line[22:26].split()[0])
                
            if line[26].isspace():
                l.append(None)
            else:
                l.append(line[26].split()[0])
                
            if line[30:38].isspace():
                l.append(None)
            else:
                l.append(line[30:38].split()[0])
                
            if line[38:46].isspace():
                l.append(None)
            else:
                l.append(line[38:46].split()[0])
                
            if line[46:54].isspace():
                l.append(None)
            else:
                l.append(line[46:54].split()[0])
                
            if line[54:60].isspace():
                l.append(None)
            else:
                l.append(line[54:60].split()[0])
                
            if line[60:66].isspace():
                l.append(None)
            else:
                l.append(line[60:66].split()[0])
                
            if line[76:78].isspace():
                l.append(None)
            else:
                l.append(line[76:78].split()[0])
                
            if line[78:80].isspace():
                l.append(None)
            else:
                l.append(line[78:80].split()[0])
            
            list_s_atom.append(l)
                
        df = pd.DataFrame(list_s_atom)
        # use DataFrame function to convert a list to dataframe
        df.columns = ["Record Name", "serial", "name", "altLoc", "resName", "chainID", "resSeq", 
                     "iCode", "x", "y", "z", "occupancy", "tempFactor", "element", "charge"]
        return(df)
    
    def get_missing_residue(self):
        """get the missing residue as a pandas data frame"""
        
        res = None
        
        for line in self.list:
            if "MISSING RESIDUES" in line:
                res = line
        
        if res == None:
            return("There is no missing residue in this pdb file.")
        
        inx = self.list.index(res)
        
        while True:
            if ("M RES C SSSEQI" not in self.list[inx]) and ("RES C SSSEQI" not in self.list[inx]):
                inx = inx + 1
            else:
                break
        
        if "M RES C SSSEQI" in self.list[inx]:
            flag = 1
        elif "RES C SSSEQI" in self.list[inx]:
            flag = 0
            
        inx += 1
        
        list_miss = []
        if flag:
        # according to the string position to make a list of each row
            while not self.list[inx][10:].isspace():
                l = []
                line = self.list[inx]
                if line[13].isspace():
                    l.append(None)
                else:
                    l.append(line[13])
                if line[15:18].isspace():
                    l.append(None)
                else:
                    l.append(line[15:18])
                if line[19].isspace():
                    l.append(None)
                else:
                    l.append(line[19])
                if line[21:26].isspace():
                    l.append(None)
                else:
                    l.append(line[21:26])
                if line[26].isspace():
                    l.append(None)
                else:
                    l.append(line[26])
                list_miss.append(l)
                inx = inx + 1
        else:
            while not self.list[inx][10:].isspace():
                l = []
                line = self.list[inx]

                if line[15:18].isspace():
                    l.append(None)
                else:
                    l.append(line[15:18])
                if line[19].isspace():
                    l.append(None)
                else:
                    l.append(line[19])
                if line[21:26].isspace():
                    l.append(None)
                else:
                    l.append(line[21:26])
                if line[26].isspace():
                    l.append(None)
                else:
                    l.append(line[26])
                list_miss.append(l)
                inx = inx + 1
        
        df = pd.DataFrame(list_miss)
        if flag:
            df.columns = ["MODEL NUMBER", "RESIDUE NAME", "CHAIN IDENTIFIER", "SEQUENCE NUMBER", "INSERTION CODE"]
        else:
            df.columns = ["RESIDUE NAME", "CHAIN IDENTIFIER", "SEQUENCE NUMBER", "INSERTION CODE"]
        return(df)

<a id=44></a>
### an example of 4lza object of this class

In [34]:
_4lza = pdb("4lza")
print(_4lza.id)

4lza

In [35]:
print(_4lza.list[:2])

['HEADER    TRANSFERASE                             31-JUL-13   4LZA              ', 'TITLE     CRYSTAL STRUCTURE OF ADENINE PHOSPHORIBOSYLTRANSFERASE FROM           ']

In [36]:
print(_4lza.get_enzyme_type())

TRANSFERASE

In [37]:
print(_4lza.get_name())

ADENINE PHOSPHORIBOSYLTRANSFERASE

In [38]:
print(_4lza.get_organism_name())

THERMOANAEROBACTER PSEUDETHANOLICUS

In [39]:
print(_4lza.get_organism_taxid())

340099

In [40]:
print(_4lza.get_chain_id())

A, B

In [41]:
print(_4lza.get_ec_number())

2.4.2.7

In [42]:
print(_4lza.get_strain())

ATCC 33223

In [43]:
print(_4lza.get_gene())

166856274, APT, TETH39_1027

In [44]:
print(_4lza.get_resolution())

1.84 ANGSTROMS

In [45]:
_4lza.get_seqres()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,SEQRES,1,A,195,MSE,HIS,HIS,HIS,HIS,HIS,HIS,SER,SER,GLY,VAL,ASP,LEU
1,SEQRES,2,A,195,GLY,THR,GLU,ASN,LEU,TYR,PHE,GLN,SER,MSE,THR,LEU,GLU
2,SEQRES,3,A,195,GLU,ILE,LYS,MSE,MSE,ILE,ARG,GLU,ILE,PRO,ASP,PHE,PRO
3,SEQRES,4,A,195,LYS,LYS,GLY,ILE,LYS,PHE,LYS,ASP,ILE,THR,PRO,VAL,LEU
4,SEQRES,5,A,195,LYS,ASP,ALA,LYS,ALA,PHE,ASN,TYR,SER,ILE,GLU,MSE,LEU
5,SEQRES,6,A,195,ALA,LYS,ALA,LEU,GLU,GLY,ARG,LYS,PHE,ASP,LEU,ILE,ALA
6,SEQRES,7,A,195,ALA,PRO,GLU,ALA,ARG,GLY,PHE,LEU,PHE,GLY,ALA,PRO,LEU
7,SEQRES,8,A,195,ALA,TYR,ARG,LEU,GLY,VAL,GLY,PHE,VAL,PRO,VAL,ARG,LYS
8,SEQRES,9,A,195,PRO,GLY,LYS,LEU,PRO,ALA,GLU,THR,LEU,SER,TYR,GLU,TYR
9,SEQRES,10,A,195,GLU,LEU,GLU,TYR,GLY,THR,ASP,SER,LEU,GLU,ILE,HIS,LYS
10,SEQRES,11,A,195,ASP,ALA,VAL,LEU,GLU,GLY,GLN,ARG,VAL,VAL,ILE,VAL,ASP
11,SEQRES,12,A,195,ASP,LEU,LEU,ALA,THR,GLY,GLY,THR,ILE,TYR,ALA,SER,ALA
12,SEQRES,13,A,195,LYS,LEU,VAL,GLU,SER,LEU,GLY,GLY,ILE,VAL,ASP,SER,ILE
13,SEQRES,14,A,195,ILE,PHE,LEU,THR,GLU,LEU,THR,PHE,LEU,ASP,GLY,ARG,LYS
14,SEQRES,15,A,195,LYS,LEU,ASP,GLY,TYR,ASP,ILE,ILE,SER,LEU,ILE,LYS,PHE
15,SEQRES,1,B,195,MSE,HIS,HIS,HIS,HIS,HIS,HIS,SER,SER,GLY,VAL,ASP,LEU
16,SEQRES,2,B,195,GLY,THR,GLU,ASN,LEU,TYR,PHE,GLN,SER,MSE,THR,LEU,GLU
17,SEQRES,3,B,195,GLU,ILE,LYS,MSE,MSE,ILE,ARG,GLU,ILE,PRO,ASP,PHE,PRO
18,SEQRES,4,B,195,LYS,LYS,GLY,ILE,LYS,PHE,LYS,ASP,ILE,THR,PRO,VAL,LEU
19,SEQRES,5,B,195,LYS,ASP,ALA,LYS,ALA,PHE,ASN,TYR,SER,ILE,GLU,MSE,LEU
20,SEQRES,6,B,195,ALA,LYS,ALA,LEU,GLU,GLY,ARG,LYS,PHE,ASP,LEU,ILE,ALA
21,SEQRES,7,B,195,ALA,PRO,GLU,ALA,ARG,GLY,PHE,LEU,PHE,GLY,ALA,PRO,LEU
22,SEQRES,8,B,195,ALA,TYR,ARG,LEU,GLY,VAL,GLY,PHE,VAL,PRO,VAL,ARG,LYS
23,SEQRES,9,B,195,PRO,GLY,LYS,LEU,PRO,ALA,GLU,THR,LEU,SER,TYR,GLU,TYR
24,SEQRES,10,B,195,GLU,LEU,GLU,TYR,GLY,THR,ASP,SER,LEU,GLU,ILE,HIS,LYS
25,SEQRES,11,B,195,ASP,ALA,VAL,LEU,GLU,GLY,GLN,ARG,VAL,VAL,ILE,VAL,ASP
26,SEQRES,12,B,195,ASP,LEU,LEU,ALA,THR,GLY,GLY,THR,ILE,TYR,ALA,SER,ALA
27,SEQRES,13,B,195,LYS,LEU,VAL,GLU,SER,LEU,GLY,GLY,ILE,VAL,ASP,SER,ILE
28,SEQRES,14,B,195,ILE,PHE,LEU,THR,GLU,LEU,THR,PHE,LEU,ASP,GLY,ARG,LYS
29,SEQRES,15,B,195,LYS,LEU,ASP,GLY,TYR,ASP,ILE,ILE,SER,LEU,ILE,LYS,PHE

In [46]:
_4lza.get_atom_and_hetatm().head(5)

,Record Name,serial,name,altLoc,resName,chainID,resSeq,iCode,x,y,z,occupancy,tempFactor,element,charge
0,ATOM,1,N,None,THR,A,0,None,-27.785,5.217,-21.426,1.00,50.53,N,None
1,ATOM,2,CA,None,THR,A,0,None,-27.459,5.049,-19.974,1.00,49.41,C,None
2,ATOM,3,C,None,THR,A,0,None,-25.949,5.130,-19.667,1.00,46.13,C,None
3,ATOM,4,O,None,THR,A,0,None,-25.572,5.789,-18.699,1.00,44.22,O,None
4,ATOM,5,CB,None,THR,A,0,None,-28.153,3.815,-19.346,1.00,51.85,C,None

In [47]:
_4lza.get_missing_residue()

   MODEL NUMBER RESIDUE NAME CHAIN IDENTIFIER SEQUENCE NUMBER INSERTION CODE
0          None          MSE                A             -23           None
1          None          HIS                A             -22           None
2          None          HIS                A             -21           None
3          None          HIS                A             -20           None
4          None          HIS                A             -19           None
5          None          HIS                A             -18           None
6          None          HIS                A             -17           None
7          None          SER                A             -16           None
8          None          SER                A             -15           None
9          None          GLY                A             -14           None
10         None          VAL                A             -13           None
11         None          ASP                A             -12           None
12         None          LEU                A             -11           None
13         None          GLY                A             -10           None
14         None          THR                A              -9           None
15         None          GLU                A              -8           None
16         None          ASN                A              -7           None
17         None          LEU                A              -6           None
18         None          TYR                A              -5           None
19         None          PHE                A              -4           None
20         None          GLN                A              -3           None
21         None          SER                A              -2           None
22         None          MSE                A              -1           None
23         None          LEU                A              95           None
24         None          GLU                A              96           None
25         None          TYR                A              97           None
26         None          GLY                A              98           None
27         None          MSE                B             -23           None
28         None          HIS                B             -22           None
29         None          HIS                B             -21           None
30         None          HIS                B             -20           None
31         None          HIS                B             -19           None
32         None          HIS                B             -18           None
33         None          HIS                B             -17           None
34         None          SER                B             -16           None
35         None          SER                B             -15           None
36         None          GLY                B             -14           None
37         None          VAL                B             -13           None
38         None          ASP                B             -12           None
39         None          LEU                B             -11           None
40         None          GLY                B             -10           None
41         None          THR                B              -9           None
42         None          GLU                B              -8           None
43         None          ASN                B              -7           None
44         None          LEU                B              -6           None
45         None          TYR                B              -5           None
46         None          PHE                B              -4           None
47         None          GLN                B              -3           None
48         None          SER                B              -2           None
49         None          MSE                B              -1           None

<a id=5></a>
# Li Yuan's fifth week work

## We want to create a general table which includes all desired fields except Atom and Hetatm

<a id=51></a>
### I wrote this method outside the above class, but we can add this method later into the class

In [48]:
def get_general_table(self):
    """get a general table of this pdb file"""
    
    chain_id = self.get_chain_id().split(", ")
    num_chain = len(chain_id)
    
    PDB_ID = [self.id] * num_chain
    Enzyme_Type = [self.get_enzyme_type()] * num_chain
    Name = [self.get_name()] * num_chain
    Organism_Name = [self.get_organism_name()] * num_chain
    Organism_Taxid = [self.get_organism_taxid()] * num_chain
    Ec_Number = [self.get_ec_number()] * num_chain
    Strain = [self.get_strain()] * num_chain
    Gene = [self.get_gene()] * num_chain
    Resolution = [self.get_resolution()] * num_chain
    Seqres = self.get_seqres()
    
    Num_Seqres = []
    Seqres_total = []
    for iid in chain_id:
        se = Seqres[Seqres[2] == iid].loc[:, 4:].values.tolist()
        a = []
        [a.extend(i) for i in se]
        Num_Seqres.append(len(a))
        Seqres_total.append(a)
    
    Num_Missing = []
    Missing = self.get_missing_residue()
    Missing_Residue = []
    Missing_Id = []
    
    if isinstance(Missing, str):
        Num_Missing = [None] * num_chain
        Missing_Residue = [None] * num_chain
        Missing_Id = [None] * num_chain
    else:
        for iid in chain_id:
            se = Missing[Missing["CHAIN IDENTIFIER"] == iid]
            a = se["RESIDUE NAME"].values.tolist()
            b = se["SEQUENCE NUMBER"].values.tolist()
            Num_Missing.append(len(a))
            Missing_Residue.append(a)
            Missing_Id.append(b)
    
    df = pd.DataFrame({"PDB_ID": PDB_ID,
                       "Enzyme_Type": Enzyme_Type,
                       "Name": Name,
                       "Organism_Name": Organism_Name,
                       "Organism_Taxid": Organism_Taxid,
                       "Ec_Number": Ec_Number,
                       "Strain": Strain,
                       "Gene": Gene,
                       "Resolution": Resolution,
                       "Chain_Id": chain_id,
                       "Num_Seqres": Num_Seqres,
                       "Seqres": Seqres_total,
                       "Num_Missing": Num_Missing,
                       "Missing_Residue": Missing_Residue,
                       "Missing_Id": Missing_Id
                       })
    return(df)

## Now we add above function as a method of the class we defind in the previous week.

In [49]:
pdb.get_general_table = get_general_table

## Now we test this method to generate a Pandas DataFrame of this general table.

In [50]:
_4lza.get_general_table()

,PDB_ID,Enzyme_Type,Name,Organism_Name,Organism_Taxid,Ec_Number,Strain,Gene,Resolution,Chain_Id,Num_Seqres,Seqres,Num_Missing,Missing_Residue,Missing_Id
0,4lza,TRANSFERASE,ADENINE PHOSPHORIBOSYLTRANSFERASE,THERMOANAEROBACTER PSEUDETHANOLICUS,340099,2.4.2.7,ATCC 33223,"166856274, APT, TETH39_1027",1.84 ANGSTROMS,A,195,"[MSE, HIS, HIS, HIS, HIS, HIS, HIS, SER, SER, ...",27,"[MSE, HIS, HIS, HIS, HIS, HIS, HIS, SER, SER, ...","[ -23, -22, -21, -20, -19, -18, -..."
1,4lza,TRANSFERASE,ADENINE PHOSPHORIBOSYLTRANSFERASE,THERMOANAEROBACTER PSEUDETHANOLICUS,340099,2.4.2.7,ATCC 33223,"166856274, APT, TETH39_1027",1.84 ANGSTROMS,B,195,"[MSE, HIS, HIS, HIS, HIS, HIS, HIS, SER, SER, ...",23,"[MSE, HIS, HIS, HIS, HIS, HIS, HIS, SER, SER, ...","[ -23, -22, -21, -20, -19, -18, -..."

<a id=52></a>
## Now we want to create a table which only includes Atom and Hetatm.

In [51]:
def get_atom_hetatm_table(self):
    """get a table which only includes atom and hetatm"""
    
    table = self.get_atom_and_hetatm()
    table["PDB ID"] = self.id
    
    atom_table = pd.read_csv("/Users/liyuan/Documents/Chemistry_research/week5/atom.csv")
    atom_table["Symbol"] = atom_table["Symbol"].str.upper()
    
    df = table.set_index("name").join(atom_table.set_index("Symbol"), how="left")[['Record Name', 'Name', 'serial', 'altLoc', 'resName', 'chainID', 'resSeq',
       'iCode', 'x', 'y', 'z', 'occupancy', 'tempFactor', 'element', 'charge',
       'PDB ID', 'Atomic Number', 'Atomic Weight']]
    
    return(df)

pdb.get_atom_hetatm_table = get_atom_hetatm_table

_4lza.get_atom_hetatm_table()

,Record Name,Name,serial,altLoc,resName,chainID,resSeq,iCode,x,y,z,occupancy,tempFactor,element,charge,PDB ID,Atomic Number,Atomic Weight
C,ATOM,Carbon,3,None,THR,A,0,None,-25.949,5.130,-19.667,1.00,46.13,C,None,4lza,6.0,12.011
C,ATOM,Carbon,10,None,LEU,A,1,None,-23.615,6.356,-21.059,1.00,43.21,C,None,4lza,6.0,12.011
C,ATOM,Carbon,18,None,GLU,A,2,None,-24.917,9.038,-21.356,1.00,43.00,C,None,4lza,6.0,12.011
C,ATOM,Carbon,27,None,GLU,A,3,None,-24.644,9.647,-18.363,1.00,40.11,C,None,4lza,6.0,12.011
C,ATOM,Carbon,36,None,ILE,A,4,None,-21.690,9.675,-18.128,1.00,33.11,C,None,4lza,6.0,12.011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SE,HETATM,Selenium,65,None,MSE,A,7,None,-24.581,11.169,-13.914,1.00,66.42,SE,None,4lza,34.0,78.96
SE,HETATM,Selenium,339,None,MSE,A,40,None,-22.906,-1.437,-18.856,1.00,48.36,SE,None,4lza,34.0,78.96
SE,HETATM,Selenium,1380,None,MSE,B,6,None,-2.985,-13.771,14.282,1.00,115.61,SE,None,4lza,34.0,78.96
SE,HETATM,Selenium,1388,None,MSE,B,7,None,-4.892,-11.426,5.586,1.00,91.81,SE,None,4lza,34.0,78.96
SE,HETATM,Selenium,1662,None,MSE,B,40,None,-17.202,-8.134,10.603,1.00,55.29,SE,None,4lza,34.0,78.96

## Because all the packages which can import element periodic table are unable to install on my current python version 3.8 which is too high and can't be compatiable with lower version of those packages and I don't want to churn different python version, so I found a mass.py online to be as mass file to use.

## I copy a atom table from a [website](https://www.angelo.edu/faculty/kboudrea/periodic/structure_mass.htm) and paste into Number App on mac then I export this file as a CSV file, last I use read_csv() function to import this table into this python file.

# So when you run this file, make sure to change the file path inside function `get_atom_hetatm_table()` to your own computer's instead of using mine. Thanks.

# Now we test 100 general tables of pdb file

In [52]:
get_all()[:11]

['100D',
 '101D',
 '101M',
 '102D',
 '102L',
 '102M',
 '103D',
 '103L',
 '103M',
 '104D',
 '104L']

<a id=53></a>
## Next we want to compute running time of extracting 100 pdb general tables 
### We use `timeit` package to compute this

In [53]:
import timeit

start = timeit.default_timer()

frames = []
for i in get_all()[:101]:
    df = pdb(i).get_general_table()
    frames.append(df)
    
pd.concat(frames)

stop = timeit.default_timer()

print('Time: ', stop - start)

Time:  28.47999002

## We used around 24-30s to extract 100 general tables and merge them into one table

In [54]:
frames = []
for i in get_all()[:101]:
    df = pdb(i).get_general_table()
    frames.append(df)
    
pd.concat(frames)

,PDB_ID,Enzyme_Type,Name,Organism_Name,Organism_Taxid,Ec_Number,Strain,Gene,Resolution,Chain_Id,Num_Seqres,Seqres,Num_Missing,Missing_Residue,Missing_Id
0,100D,DNA-RNA,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...,None,None,None,None,None,1.90 ANGSTROMS,A,10,"[C, DC, DG, DG, DC, DG, DC, DC, DG, G]",None,None,None
1,100D,DNA-RNA,DNA/RNA (5'-R(*CP*)-D(*CP*GP*GP*CP*GP*CP*CP*GP...,None,None,None,None,None,1.90 ANGSTROMS,B,10,"[C, DC, DG, DG, DC, DG, DC, DC, DG, G]",None,None,None
0,101D,DNA,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR) ...,None,None,None,None,None,2.25 ANGSTROMS,A,12,"[DC, DG, DC, DG, DA, DA, DT, DT, CBR, DG, DC, DG]",None,None,None
1,101D,DNA,DNA (5'-D(*CP*GP*CP*GP*AP*AP*TP*TP*(CBR) ...,None,None,None,None,None,2.25 ANGSTROMS,B,12,"[DC, DG, DC, DG, DA, DA, DT, DT, CBR, DG, DC, DG]",None,None,None
0,101M,OXYGEN,MYOGLOBIN,PHYSETER CATODON,9755,None,PHAGE RESISTANT TB1,None,2.07 ANGSTROMS,A,156,"[MET, VAL, LEU, SER, GLU, GLY, GLU, TRP, GLN, ...",None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,140L,HYDROLASE(O-GLYCOSYL),T4 LYSOZYME,ENTEROBACTERIA PHAGE T4,10665 ...,3.2.1.17,None,None,2.10 ANGSTROMS,A,169,"[MET, ASN, ILE, PHE, GLU, MET, LEU, ARG, ILE, ...",2,"[ASN, LEU]","[ 163, 164]"
0,141D,DNA,DNA (5'- ...,None,None,None,None,None,None,A,13,"[DA, DG, DC, DT, DT, DG, DC, DC, DT, DT, DG, D...",None,None,None
0,141L,HYDROLASE(O-GLYCOSYL),T4 LYSOZYME,ENTEROBACTERIA PHAGE T4,10665 ...,3.2.1.17,None,None,2.00 ANGSTROMS,A,169,"[MET, ASN, ILE, PHE, GLU, MET, LEU, ARG, ILE, ...",2,"[ASN, LEU]","[ 163, 164]"
0,142D,DNA,DNA (5'- ...,None,None,None,None,None,None,A,13,"[DA, DG, DC, DT, DT, DG, DC, DC, DT, DT, DG, D...",None,None,None
0,142L,HYDROLASE(O-GLYCOSYL),T4 LYSOZYME,ENTEROBACTERIA PHAGE T4,10665 ...,3.2.1.17,None,None,2.00 ANGSTROMS,A,169,"[MET, ASN, ILE, PHE, GLU, MET, LEU, ARG, ILE, ...",2,"[ASN, LEU]","[ 163, 164]"

<a id=54></a>
# Remark: When I ran the first 100 pdb files, I found there was a file called "136D" which only has four columns in the missing residue part, different from other pdb files which includes five columns in missing residue parts. So I made a change to the function `get_missing_residue()` to commodate this file.

In [57]:
pdb("136D").get_missing_residue()

  RESIDUE NAME CHAIN IDENTIFIER SEQUENCE NUMBER INSERTION CODE
0           DT                A               2              L
1           DT                A               3              L
2           DT                A               4              L
3           DT                A               7              L
4           DT                A               8              L
5           DT                A               9              L